# Archivos del sistema 
.DS_Store
Thumbs.db

# Entornos virtuales
.venv/
env/
venv/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks temporales
*.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

# Archivos de configuración personales
.vscode/
.idea/

# Logs
*.log
logs/

# Archivos temporales o de pruebas
tmp/
temp/
